=render 'layouts/main_nav'
%div.container
  %div.separator-1
  %div.row
    %h4
      Perfumes
    %div#perfumes-index.col-md-12
      -@perfumes.each do |perfume|
        %div.col-sm-2
          .card
            %img.card-img-top{:alt => "Card image cap", "data-src" => "...", :src => perfume.image.url}
              .card-block
                %h5.card-title 
                  =perfume.name
                %div.trend-dialog
                  =perfume.trend
  
=render 'layouts/footer'
