%footer
  %div.container
    %div.col-md-8
      %h6 Información
      %ul.nav
        %li.nav-item
          %a.nav-link{:src => "#"} ¿Quienes Somos?
        %li.nav-item
          %a.nav-link{:src => "#"} Sucursales
        %li.nav-item
          %a.nav-link{:src => "#"} Distribuidores 
    %div.col-md-4
      Calle. 16 de septiembre No. 52, 2do piso,, Col. Centro, Del. Cuauhtemoc, C.P. 06000,, México D. F. Teléfono: 01800 33724243 http://www.fraiche.com.mx
      %br
      El contenido de www.fraiche.com.mx, así como todas las marcas, logotipos, símbolos que se muestran son propiedad intelectual de Fraiche. Cualquier uso sin autorización previa está estrictamente prohibido y dará lugar a sanciones penales y civiles