%nav.navbar.navbar-light
  %a.navbar-brand{:href => "/"}
    %img.home-logo{:src => "assets/home.png"}
  %ul.nav.navbar-nav
    %li.nav-item
      %a.nav-link{:href => "#"} Productos
    %li.nav-item
      %a.nav-link{:href => "#"} Fragancias
    %li.nav-item
      %a.nav-link{:href => "#"} Envases
  %ul.nav.navbar-nav.pull-xs-right
    %li.nav-item
      %a.nav-link{:href => "facebook.com"}
        %i.fa.fa-facebook-official.fa-lg
    %li.nav-item
      %a.nav-link{:href => "facebook.com"}
        %i.fa.fa-twitter-square.fa-lg
    %li.nav-item
      %a.nav-link{:href => "facebook.com"}
        %i.fa.fa-youtube-square.fa-lg